/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#titleLabel {
    -fx-font-family: Meiryo UI;
    -fx-font-size: 24;
}

#fontFamilyTextField {
    -fx-font-family: Meiryo UI;
    -fx-font-size: 18;
}